<h1>Listing benefits</h1>

<%= render partial: 'benefits' %>

<br>

<% if @user %>
  <p>
    <%= link_to "Back to profile", user_path(@user), {:class => "btn btn-primary"} %>
  </p>
<% else %>
  <p><%= link_to 'New Benefit', new_benefit_path if current_user.admin %></p>
<% end %>
