<div class="theme-showcase" role="main">

  <div class="right-info center">
    <h1>Welcome to Employee Services!</h1>

    <div class="left-pic center">
      <img src="http://www.fpsaus.com.au/images/company-login-icon.gif" width="550" height="auto">
    </div>

    <div class="center">
      <br>
      <%= link_to "Sign In", signin_path, class: "btn btn-primary" %>
      <%= link_to "Sign Up", new_user_path, class: "btn btn-primary" %>
      <%= link_to ('Log in with Github'), ('/auth/github'), class: "btn btn-primary" %>
    </div>
  </div>

</div>
